<div class="modal-header" ngbAutofocus>
    <h4 class="modal-title">
        {{editMode==true ? 'Editare utilizator ' :'Adaugare utilizator'}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="formEditareUsers" (ngSubmit)="onSubmit()">
        <div class="form-group row mb-2">
            <div class="col-12 input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">EMAIL</span>
                </div>
                <input formControlName="EMAIL" class="form-control" placeholder="Introduceti email-ul utilizatorului"
                    [ngClass]="{'is-invalid':formEditareUsers.get('EMAIL').invalid &&  (formEditareUsers.get('EMAIL').touched || submit)}">
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="input-group input-group-sm mb-2 col-12">
                <div class="input-group-prepend">
                    <span class="input-group-text">Nume prenume</span>
                </div>
                <input formControlName="NUME_PRENUME" type="text" class="form-control"
                    placeholder="Introduceti numele prenumele utilizatorului"
                    [ngClass]="{'is-invalid':formEditareUsers.get('NUME_PRENUME').invalid && (formEditareUsers.get('NUME_PRENUME').touched || submit)}">
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-4 input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">CNP</span>
                </div>
                <input onfocus="this.select()" formControlName="CNP" class="form-control">
            </div>
        </div>

        <div class="form-group row mb-2">
            <div class="col-6 input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Nivel Acces (0-99)</span>
                </div>
                <input type="number" formControlName="FACCES" class="form-control"
                    [ngClass]="{'is-invalid':formEditareUsers.get('FACCES').invalid &&  (formEditareUsers.get('FACCES').touched || submit)}">
            </div>
            <div class="col-6 input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Telefon</span>
                </div>
                <input onfocus="this.select()" formControlName="TEL" class="form-control">
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-6 input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Parola</span>
                </div>
                <input type="password" onfocus="this.select()" formControlName="PASS" class="form-control"
                    [ngClass]="{'is-invalid':(formEditareUsers.get('PASS').invalid || formEditareUsers.invalid) && submit}">
            </div>
            <div *ngIf="formEditareUsers.invalid &&  submit " class="col-6 input-group input-group-sm">
                    <small class="text-danger form-text"> Campul de parola este obligatoriu </small>
            </div>
        </div>
        <div class="form-group row mb-4">
            <div class="col-6 input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Confirmare Parola</span>
                </div>
                <input type="password" onfocus="this.select()" formControlName="PASSCONFIRM" class="form-control"
                    [ngClass]="{'is-invalid':(formEditareUsers.get('PASSCONFIRM').invalid || formEditareUsers.invalid) && submit}">
            </div>

            <div *ngIf="formEditareUsers.invalid &&  submit " class="col-6 input-group input-group-sm">
                    <small class="text-danger form-text"> Campul de confirmare parola este obligatoriu </small>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-primary"><i class="fa fa-check" aria-hidden="true"></i>
                Save</button>
            <button type="button" class="btn btn-outline-danger" (click)="onCancel()"><i class="fa fa-ban"
                    aria-hidden="true"></i> Cancel</button>
        </div>
    </form>
</div>