<ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r.label+r.value" [term]="t"></ngb-highlight>
</ng-template>

<div class="modal-header">
    <h4 class="modal-title">
        {{editMode=="modify" ? 'Editare Comanda' :'Adaugare Comanda'}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="formComenzi" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
        <table class="table mt-0 table-bordered table-hover table-responsive-sm table-sm table-light">
            <thead class="thead-light">
                <tr>
                    <th scope="col" style="width: 50px;"> Reel </th>
                    <th scope="col" style="width: 160px;"> Sortiment </th>
                    <th scope="col" style="width: 190px;"> Denumire </th>
                    <th scope="col" style="width: 80px;"> Cod CEPI </th>
                    <th scope="col" style="width: 80px;"> Gramaj </th>
                    <th scope="col" style="width: 110px;"> Latime (cm) </th>
                    <th scope="col" style="width: 130px;"> Client </th>
                    <th> Nume client </th>
                </tr>
            </thead>
            <tbody [formGroup]="formReelGroup">
                <tr [formGroup]="formReel_1" (click)="onClickRow('1')" [ngClass]="{'table-active':reel1Active}">
                    <th scope="row">#1 </th>
                    <td>
                        <div class="input-group input-group-sm">
                            <input class="form-control rounded" ngbAutofocus #REELSORT_1 formControlName="REELSORT_1"
                                onfocus="this.select()"
                                [ngClass]="{'is-invalid': verifyValid('REELSORT_1','formReel_1') }"
                                [ngbTypeahead]="searchSortiment" (selectItem)="onselectSortiment($event,'REEL1')"
                                [editable]="false" [inputFormatter]="typeAheadService.formatter" [resultTemplate]="rt">
                            <div class="input-group-prepend">
                                <button tabindex=-1 [disabled]="disableButtons"
                                    class="btn btn-default btn-outline-light" type="button"
                                    (click)="onAdvanceSearchSortiment(REELSORT_1.value,'REEL1')">
                                    <i class="fa fa-search text-success" aria-hidden="true"></i>
                                </button>
                                <button tabindex=-1 [disabled]="disableButtons"
                                    class="btn btn-default btn-outline-light" type="button"
                                    (click)="onAddSortiment('REEL1')">
                                    <i class="fa fa-plus text-primary" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELDEN_1" class="form-control">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELCEPI_1" class="form-control">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELSUBST_1" min="0" step="0.01"
                                oninput="validity.valid||(value='');"
                                [ngClass]="{'is-invalid': formReel_1.invalid && submit }" onfocus="this.select()"
                                class="form-control" type="number">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELWIDTH_1" min="0" 
                                [ngClass]="{'is-invalid': (formReel_1.invalid && submit) || ( formReel_1.valid && formReel_2.valid && formReel_3.valid && formReel_4.valid && formReelGroup.invalid && submit)  }"
                                onfocus="this.select()" class="form-control" type="number">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELCLIENT_1"
                                [ngClass]="{'is-invalid': formReel_1.invalid && submit }" #inputClient_1
                                onfocus="this.select()" class="form-control rounded" [ngbTypeahead]="searchClient"
                                (selectItem)="onselectClient($event,'REELCLIENT_1')" [editable]="false"
                                [inputFormatter]="typeAheadService.formatter" [resultTemplate]="rt">
                            <div class="input-group-prepend">
                                <button [disabled]="disableClient1" class="btn btn-default btn-outline-light"
                                    type="button" (click)="onAdvanceSearchClient(inputClient_1.value,'REELCLIENT_1')">
                                    <i class="fa fa-search text-success" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input class="form-control" formControlName="LABEL_CLIENT_1">
                        </div>
                    </td>
                </tr>
                <tr [formGroup]="formReel_2" (click)="onClickRow('2')" [ngClass]="{'table-active':reel2Active}">
                    <th scope="row">#2 </th>
                    <td>
                        <div class="input-group input-group-sm">
                            <input class="form-control rounded" ngbAutofocus #REELSORT_2 formControlName="REELSORT_2"
                                onfocus="this.select()"
                                [ngClass]="{'is-invalid': verifyValid('REELSORT_2','formReel_2') }"
                                [ngbTypeahead]="searchSortiment" (selectItem)="onselectSortiment($event,'REEL2')"
                                [editable]="false" [inputFormatter]="typeAheadService.formatter" [resultTemplate]="rt">
                            <div class="input-group-prepend">
                                <button tabindex=-2 [disabled]="disableButtons"
                                    class="btn btn-default btn-outline-light" type="button"
                                    (click)="onAdvanceSearchSortiment(REELSORT_2.value,'REEL2')">
                                    <i class="fa fa-search text-success" aria-hidden="true"></i>
                                </button>
                                <button tabindex=-2 [disabled]="disableButtons"
                                    class="btn btn-default btn-outline-light" type="button"
                                    (click)="onAddSortiment('REEL2')">
                                    <i class="fa fa-plus text-primary" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELDEN_2" class="form-control">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELCEPI_2" class="form-control">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELSUBST_2" min="0" step="0.01"
                                oninput="validity.valid||(value='');"
                                [ngClass]="{'is-invalid': formReel_2.invalid && submit }" onfocus="this.select()"
                                class="form-control" type="number">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELWIDTH_2" min="0" 
                                [ngClass]="{'is-invalid': (formReel_2.invalid && submit) || ( formReel_1.valid && formReel_2.valid && formReel_3.valid && formReel_4.valid && formReelGroup.invalid && submit)  }"
                                onfocus="this.select()" class="form-control" type="number">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELCLIENT_2"
                                [ngClass]="{'is-invalid': formReel_2.invalid && submit }" #inputClient_2
                                onfocus="this.select()" class="form-control rounded" [ngbTypeahead]="searchClient"
                                (selectItem)="onselectClient($event,'REELCLIENT_2')" [editable]="false"
                                [inputFormatter]="typeAheadService.formatter" [resultTemplate]="rt">
                            <div class="input-group-prepend">
                                <button [disabled]="disableClient2" class="btn btn-default btn-outline-light"
                                    type="button" (click)="onAdvanceSearchClient(inputClient_2.value,'REELCLIENT_2')">
                                    <i class="fa fa-search text-success" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input class="form-control" formControlName="LABEL_CLIENT_2">
                        </div>
                    </td>
                </tr>



                <tr [formGroup]="formReel_3" (click)="onClickRow('3')" [ngClass]="{'table-active':reel3Active}">
                    <th scope="row">#3 </th>
                    <td>
                        <div class="input-group input-group-sm">
                            <input class="form-control rounded" ngbAutofocus #REELSORT_3 formControlName="REELSORT_3"
                                onfocus="this.select()"
                                [ngClass]="{'is-invalid': verifyValid('REELSORT_3','formReel_3') }"
                                [ngbTypeahead]="searchSortiment" (selectItem)="onselectSortiment($event,'REEL3')"
                                [editable]="false" [inputFormatter]="typeAheadService.formatter" [resultTemplate]="rt">
                            <div class="input-group-prepend">
                                <button tabindex=-3 [disabled]="disableButtons"
                                    class="btn btn-default btn-outline-light" type="button"
                                    (click)="onAdvanceSearchSortiment(REELSORT_3.value,'REEL3')">
                                    <i class="fa fa-search text-success" aria-hidden="true"></i>
                                </button>
                                <button tabindex=-3 [disabled]="disableButtons"
                                    class="btn btn-default btn-outline-light" type="button"
                                    (click)="onAddSortiment('REEL3')">
                                    <i class="fa fa-plus text-primary" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELDEN_3" class="form-control">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELCEPI_3" class="form-control">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELSUBST_3" min="0" step="0.01"
                                oninput="validity.valid||(value='');"
                                [ngClass]="{'is-invalid': formReel_3.invalid && submit }" onfocus="this.select()"
                                class="form-control" type="number">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELWIDTH_3" min="0" 
                                [ngClass]="{'is-invalid': (formReel_3.invalid && submit) || ( formReel_1.valid && formReel_2.valid && formReel_3.valid && formReel_4.valid && formReelGroup.invalid && submit)  }"
                                onfocus="this.select()" class="form-control" type="number">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELCLIENT_3"
                                [ngClass]="{'is-invalid': formReel_3.invalid && submit }" #inputClient_3
                                onfocus="this.select()" class="form-control rounded" [ngbTypeahead]="searchClient"
                                (selectItem)="onselectClient($event,'REELCLIENT_3')" [editable]="false"
                                [inputFormatter]="typeAheadService.formatter" [resultTemplate]="rt">
                            <div class="input-group-prepend">
                                <button [disabled]="disableClient3" class="btn btn-default btn-outline-light"
                                    type="button" (click)="onAdvanceSearchClient(inputClient_3.value,'REELCLIENT_3')">
                                    <i class="fa fa-search text-success" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input class="form-control" formControlName="LABEL_CLIENT_3">
                        </div>
                    </td>
                </tr>

                <tr [formGroup]="formReel_4" (click)="onClickRow('4')" [ngClass]="{'table-active':reel4Active}">
                    <th scope="row">#4 </th>
                    <td>
                        <div class="input-group input-group-sm">
                            <input class="form-control rounded" ngbAutofocus #REELSORT_4 formControlName="REELSORT_4"
                                onfocus="this.select()"
                                [ngClass]="{'is-invalid': verifyValid('REELSORT_4','formReel_4') }"
                                [ngbTypeahead]="searchSortiment" (selectItem)="onselectSortiment($event,'REEL4')"
                                [editable]="false" [inputFormatter]="typeAheadService.formatter" [resultTemplate]="rt">
                            <div class="input-group-prepend">
                                <button tabindex=-4 [disabled]="disableButtons"
                                    class="btn btn-default btn-outline-light" type="button"
                                    (click)="onAdvanceSearchSortiment(REELSORT_4.value,'REEL4')">
                                    <i class="fa fa-search text-success" aria-hidden="true"></i>
                                </button>
                                <button tabindex=-4 [disabled]="disableButtons"
                                    class="btn btn-default btn-outline-light" type="button"
                                    (click)="onAddSortiment('REEL4')">
                                    <i class="fa fa-plus text-primary" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELDEN_4" class="form-control">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELCEPI_4" class="form-control">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELSUBST_4" min="0" step="0.01"
                                oninput="validity.valid||(value='');"
                                [ngClass]="{'is-invalid': formReel_4.invalid && submit }" onfocus="this.select()"
                                class="form-control" type="number">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELWIDTH_4" min="0" 
                                [ngClass]="{'is-invalid': (formReel_4.invalid && submit) || ( formReel_1.valid && formReel_2.valid && formReel_3.valid && formReel_4.valid && formReelGroup.invalid && submit)  }"
                                onfocus="this.select()" class="form-control" type="number">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input formControlName="REELCLIENT_4"
                                [ngClass]="{'is-invalid': formReel_4.invalid && submit }" #inputClient_4
                                onfocus="this.select()" class="form-control rounded" [ngbTypeahead]="searchClient"
                                (selectItem)="onselectClient($event,'REELCLIENT_4')" [editable]="false"
                                [inputFormatter]="typeAheadService.formatter" [resultTemplate]="rt">
                            <div class="input-group-prepend">
                                <button [disabled]="disableClient4" class="btn btn-default btn-outline-light"
                                    type="button" (click)="onAdvanceSearchClient(inputClient_4.value,'REELCLIENT_4')">
                                    <i class="fa fa-search text-success" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input class="form-control" formControlName="LABEL_CLIENT_4">
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="form-group row">
            <div class="input-group input-group-sm mt-2 col-3 ml-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">Cantitate</span>
                </div>
                <input  onfocus="this.select()" min="0"
                    formControlName="CANTITATE" [ngClass]="{'is-invalid': verifyValid('CANTITATE') }"
                    class="form-control" type="number">
                <div class="input-group-append">
                    <span class="input-group-text">tone</span>
                </div>
            </div>
            <!-- </div> -->
            <!-- <div class="form-group row"> -->
            <div class="input-group input-group-sm mt-2 col-4 ml-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">Diametrul interior</span>
                </div>
                <input min="0" step="0.01" oninput="validity.valid||(value='');" onfocus="this.select()"
                    [ngClass]="{'is-invalid': verifyValid('DIAM_INT') }" formControlName="DIAM_INT" class="form-control"
                    type="number">
                <div class="input-group-append">
                    <span class="input-group-text">cm.</span>
                </div>
            </div>
            <div class="input-group input-group-sm mt-2 col-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">Diametrul exterior</span>
                </div>
                <input min="0" step="0.01" oninput="validity.valid||(value='');" onfocus="this.select()"
                    [ngClass]="{'is-invalid': verifyValid('DIAM_EXT') }" formControlName="DIAM_EXT" class="form-control"
                    type="number">
                <div class="input-group-append">
                    <span class="input-group-text">cm.</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-primary"><i class="fa fa-check" aria-hidden="true"></i>
                Save</button>
            <button type="button" class="btn btn-outline-danger" (click)="onCancel()"><i class="fa fa-ban"
                    aria-hidden="true"></i> Cancel</button>
        </div>
    </form>
</div>