<nav class="navbar navbar-expand-sm navbar-light bg-light py-1 py-sm-1 " style="padding-left: 4px;">
        <form class="form-inline my-0 my-lg-0" [formGroup]="formPlan" (ngSubmit)="onSubmit()">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Data plan</span>
                </div>
                <input (click)="data_plan.toggle()" formControlName="DATA_PLAN" type="button" class="form-control"
                    ngbDatepicker #data_plan="ngbDatepicker" (dateSelect)="onSelectDay()">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="data_plan.toggle()" type="button">
                        <i class="fa fa-calendar"></i></button>
                </div>
            </div>
            <div class="input-group input-group-sm pl-2" style="width:350px;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Plan</span>
                </div>
                <select class="form-control" formControlName="UID_PLAN" (change)="changePlan($event.target.value)">
                    <option *ngFor="let item of planuriOptions; let i = index" value="{{item.uid}}">{{item.denumire}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success btn-sm ml-1" [disabled]="disabledButonIncarcaPlan"><i
                    class="fa fa-server" aria-hidden="true"></i> Incarca plan</button>
            <button (click)="setSettings()" type="button" class="btn btn-secondary btn-sm ml-1" [disabled]="disabledMenu"><i class="fa fa-cogs"
                    aria-hidden="true"></i> Configurare</button>
        </form>
    <!-- </div> -->
</nav>