<nav class="navbar navbar-expand-sm navbar-light bg-light  py-1 py-sm-1 ">
    <button class="navbar-toggler d-lg-none" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-lg-0 mt-0">
        <li class="nav-item py-1">
          <a class="nav-link" (click)="onAdd()"><i class="fa fa-plus text-success"></i> Adauga</a>
        </li>
        <li class="nav-item py-1">
          <a class="nav-link" (click)="onEdit()"><i class="fa fa-pencil-square-o text-primary" aria-hidden="true"></i>
            Editeaza</a>
        </li>
        <li class="nav-item py-1">
          <a class="nav-link" (click)="onDelete()"><i class="fa fa-trash-o text-danger" aria-hidden="true"></i> Sterge</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <a href="https://example.com" target="_blank" rel="noopener" >test</a>  -->