<div class="modal-header" ngbAutofocus>
  <h4 class="modal-title">
    {{editMode==true ? 'Editare sortiment '+this.configDialog["codp"] :'Adaugare sortiment'}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formNomp" (ngSubmit)="onSubmit()">
    <div class="col-5 input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text">Cod Sortiment</span>
      </div>
      <input formControlName="CODP" class="form-control"
        [ngClass]="{'is-invalid':formNomp.get('CODP').invalid &&  (formNomp.get('CODP').touched || submit)}">
    </div>
    <div *ngIf="formNomp.get('CODP').invalid &&  (formNomp.get('CODP').touched || submit) " class="form-group row mb-2">
      <small class="text-danger form-text col-6"> Campul COD este obligatoriu </small>
    </div>
    <div class="input-group input-group-sm mt-2 col-12">
      <div class="input-group-prepend">
        <span class="input-group-text">Denumire Sortiment</span>
      </div>
      <input formControlName="DENUMIRE" type="text" class="form-control" 
        [ngClass]="{'is-invalid':formNomp.get('DENUMIRE').invalid && (formNomp.get('DENUMIRE').touched || submit)}">
    </div>
    <small *ngIf="formNomp.get('DENUMIRE').invalid && (formNomp.get('DENUMIRE').touched ||submit)"
      class="text-danger form-text"> Campul DENUMIRE este obligatoriu </small>

    <div class="input-group input-group-sm mt-2 col-5">
      <div class="input-group-prepend">
        <span class="input-group-text">Cod CEPI</span>
      </div>
      <input formControlName="CPSA"  [ngClass]="{'is-invalid':formNomp.get('CPSA').invalid && (formNomp.get('CPSA').touched || submit)}" type="number" class="form-control">
    </div>
    <small *ngIf="formNomp.get('CPSA').invalid && (formNomp.get('CPSA').touched ||submit)"
    class="text-danger form-text"> Campul Cod CEPI este obligatoriu </small>

    <div class="input-group input-group-sm mt-2 col-12">
      <div class="input-group-prepend">
        <span class="input-group-text">Observatii</span>
      </div>
      <input formControlName="OBS" type="text" class="form-control" placeholder="Alte observatii">
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-primary"><i class="fa fa-check" aria-hidden="true"></i> Save</button>
      <button type="button" class="btn btn-outline-danger" (click)="onCancel()"><i class="fa fa-ban"
          aria-hidden="true"></i> Cancel</button>
    </div>
  </form>
</div>