<nav class="navbar navbar-expand-sm navbar-light bg-light  py-0 py-sm-0 ">
  <a class="navbar-brand ">Tamburi </a>
  <button class="navbar-toggler d-lg-none" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-lg-0 mt-0">
      <li class="nav-item py-0">
        <a class="nav-link" (click)="onAddTamburi()"><i class="fa fa-plus text-success"></i> Adauga</a>
      </li>
      <li class="nav-item py-0">
        <a class="nav-link" (click)="onEditTamburi()"><i class="fa fa-pencil-square-o text-primary" aria-hidden="true"></i>
          Editeaza</a>
      </li>
      <li class="nav-item py-0">
        <a class="nav-link" (click)="onDeleteTamburi()"><i class="fa fa-trash-o text-danger" aria-hidden="true"></i> Sterge</a>
      </li>
    </ul>
    <div class="nav-item py-0 dropdown mr-0">
      <a class="nav-link dropdown-toggle text-primary" appDropDown #r="appDropDown">
        <i class="fa fa-cogs" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" [ngClass]="{show: r.isOpen}">
        <a class="dropdown-item py-0" (click)="onExportCSV()">Export CSV</a>
      </div>
    </div>
  </div>
</nav>

<!-- <a href="https://example.com" target="_blank" rel="noopener" >test</a> -->