.navbar { min-height:22px; border-radius:0} 
.navbar .navbar-brand{ padding: 2px 8px;font-size: 14px;line-height: 25px; } 
 .navbar .navbar-nav > li > a { border-right:1px solid #ddd; padding-top: 2px; padding-bottom: 2px; line-height: 26px }

a {   
    cursor: pointer;
}