<app-navbar-close [title]="'Gestionare conturi utilizatori'"></app-navbar-close>
<app-meniu-users></app-meniu-users>
<div style="height: 70vh">
        <ag-grid-angular 
            #agGrid 
            style="width:99%; height: 99%; " 
            class="ag-theme-balham"
            [rowData]="rowData | async"
            [columnDefs]="columnDefs" 
            rowSelection="single" 
            (rowDataChanged)="onRowDataChanged()"
            (filterChanged)="onFilterChanged()"
            (selectionChanged)="onSelectionChanged()"
            (gridReady)="onGridReady()">
        </ag-grid-angular>
    </div>
    