<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.label" [term]="t"></ngb-highlight>
</ng-template>

<ng-template #contentModal let-modal>
  <div class="modal-header" ngbAutofocus>
    <h4 class="modal-title">
      {{editMode==true ? 'Editare bobina' :'Adaugare bobina'}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formOperare" (ngSubmit)="onSubmit()">
      <input formControlName="UID" type="hidden">
      <input formControlName="PARENT" type="hidden">
      <input formControlName="NR_PLAN" type="hidden">
      <input formControlName="POZITIE_TAMBUR" type="hidden">
      <input formControlName="COD_SORTIMENT" type="hidden">
      <input formControlName="TIP" type="hidden">
      <input formControlName="DATA_PLAN" type="hidden">
      <input formControlName="DENUMIRE" type="hidden">
      <div class="form-group">
        <div class="input-group mb-2 input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">Pozitie bobina</span>
          </div>
          <input type="number" formControlName="POZITIE_BOBINA" class="form-control">
        </div>
        <small *ngIf="formOperare.get('POZITIE_BOBINA').invalid" class="text-danger"> Pozitia bobinei este obligatorie
        </small>

        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">Client</span>
          </div>
          <input #inputClient formControlName="CLIENT" onfocus="this.select()"
            [ngClass]="{'is-invalid': (formOperare.get('CLIENT').invalid && formOperare.get('CLIENT').touched) || (formOperare.get('CLIENT').invalid && submit)}"
            class="form-control rounded" [ngbTypeahead]="searchClient" placeholder="Selectati clientul"
            (selectItem)="onselectClient($event)" [editable]="false" [inputFormatter]="typeAheadService.formatter"
            [resultTemplate]="rt">
          <div class="input-group-prepend">
            <button class="btn btn-default btn-outline-light" type="button"
              (click)="onAdvanceSearchClient(inputClient.value)">
              <i class="fa fa-search text-success" aria-hidden="true"></i> </button>
            <!-- <button class="btn btn-default btn-outline-light" type="button" (click)="onAddClient()"><i
                class="fa fa-plus text-primary" aria-hidden="true"></i></button> -->
          </div>
        </div>
        <small
          *ngIf="(formOperare.get('CLIENT').invalid && formOperare.get('CLIENT').touched) || (formOperare.get('CLIENT').invalid && submit)"
          class="text-danger"> Clientul este obligatoriu </small>
        <div class="input-group">
          <small class="form-text text-muted">{{labelClient}}</small>
        </div>

        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">Comanda</span>
          </div>
          <input #inputComanda readonly formControlName="NR_COMANDA" 
            [ngClass]="{'is-invalid': (formOperare.get('NR_COMANDA').invalid && formOperare.get('NR_COMANDA').touched) || (formOperare.get('NR_COMANDA').invalid && submit)}"
            class="form-control rounded"  placeholder="Selectati comanda"
          >
          <div class="input-group-prepend">
            <button class="btn btn-default btn-outline-light" type="button"
              (click)="onAdvanceSearchComanda(inputComanda.value)"><i class="fa fa-search text-success"
                aria-hidden="true"></i> </button>
            <!-- <button class="btn btn-default btn-outline-light" type="button"
              (click)="onAddComanda(inputClient.value)"><i class="fa fa-plus text-primary"
                aria-hidden="true"></i> </button> -->
          </div>
        </div>
        <small
          *ngIf="(formOperare.get('NR_COMANDA').invalid && formOperare.get('NR_COMANDA').touched) || (formOperare.get('NR_COMANDA').invalid && submit)"
          class="text-danger"> Comanda este obligatorie </small>
        <div class="input-group">
          <small class="form-text text-muted">{{labelComanda}}</small>
        </div>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">Produs</span>
          </div>
          <input #inputProdus readonly formControlName="COD_PRODUS" 
            [ngClass]="{'is-invalid': (formOperare.get('COD_PRODUS').invalid && formOperare.get('COD_PRODUS').touched) || (formOperare.get('COD_PRODUS').invalid && submit)}"
            class="form-control rounded" placeholder="Selectati produsul "
           >
          <div class="input-group-prepend">
            <button class="btn btn-default btn-outline-light" type="button"
              (click)="onAdvanceSearchProdus(inputProdus.value)"><i class="fa fa-search text-success"
                aria-hidden="true"></i> </button>
          </div>
        </div>
        <small
          *ngIf="(formOperare.get('COD_PRODUS').invalid && formOperare.get('COD_PRODUS').touched) || (formOperare.get('COD_PRODUS').invalid && submit)"
          class="text-danger"> Camul Produs este obligatoriu </small>
        <div class="input-group">
          <small class="form-text text-muted">{{labelProdus}}</small>
        </div>


        <div class="input-group mb-2 input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">Cant. Planificata</span>
          </div>
          <input type="number" formControlName="CANT_PLANIFICAT" class="form-control col-3">
        </div>
        <small *ngIf="formOperare.get('CANT_PLANIFICAT').invalid && submit" class="text-danger"> Campul cantitatea este
          obligatoriu </small>



      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-primary"><i class="fa fa-check" aria-hidden="true"></i>
          Save</button>
        <button type="button" class="btn btn-outline-danger" (click)="onCancel()"><i class="fa fa-ban"
            aria-hidden="true"></i> Cancel</button>
      </div>
    </form>
  </div>
</ng-template>
<router-outlet></router-outlet>