<div class="modal-header" ngbAutofocus>
  <h4 class="modal-title">{{editMode==true ? "Editare" : "Adaugare"}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="formOperare" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group row mb-2">
      <div class="col-11 input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text">Produs</span>
        </div>
        <ng-template #rt let-r="result" let-t="term">
          <ngb-highlight [result]="r.label" [term]="t"></ngb-highlight>
        </ng-template>
        <input #inputCod_p formControlName="COD_P" onfocus="this.select()"
          [ngClass]="{'is-invalid': (formOperare.get('COD_P').invalid && formOperare.get('COD_P').touched) || (formOperare.get('COD_P').invalid && submit)}"
          class="form-control rounded" [ngbTypeahead]="searchProdus" placeholder="Selectati produsul"
          (selectItem)="onselectProdus($event)" [editable]="false" [inputFormatter]="typeAheadService.formatter"
          [resultTemplate]="rt">
        <div class="input-group-append">
          <button class="btn btn-default btn-outline-light" type="button" (click)="onAdvanceSearchProdus(inputCod_p.value)"><i class="fa fa-search text-success" aria-hidden="true"></i> </button>
          <button class="btn btn-default btn-outline-light" type="button"  (click)="onAddProdus()"><i class="fa fa-plus text-primary" aria-hidden="true"></i></button>
        </div>

        <div class="input-group">
          <small class="form-text text-muted">{{labelProdus}}</small>
        </div>
      </div>
      <small
        *ngIf="(formOperare.get('COD_P').invalid && formOperare.get('COD_P').touched) || (formOperare.get('COD_P').invalid && submit)"
        class="text-danger pl-3"> Campul Produs este obligatoriu
      </small>
    </div>
    <div class="form-group row mb-2">
      <div class="col-11 input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text">Cantitate</span>
        </div>
        <input onfocus="this.select()" formControlName="CANT" class="form-control" type="number"
          [ngClass]="{'is-invalid':(formOperare.get('CANT').invalid && formOperare.get('CANT').touched) || (formOperare.get('CANT').invalid && submit)}">
      </div>
      <small
        *ngIf="(formOperare.get('CANT').invalid && formOperare.get('CANT').touched) || (formOperare.get('CANT').invalid && submit)"
        class="text-danger pl-3"> Campul cantitatea este obligatoriu
      </small>
    </div>
  </div>
  <div class="modal-footer">
    <div class="input-group input-group-sm" style="width: 280px;">
      <ng-toggle (valueChange)="autoAdd($event)" onColor="{{model.onColor}}" onText="{{model.onText}}"
        offColor="{{model.offColor}}" offText="{{model.offText}}" [disabled]="model.disabled" [size]="model.size"
        [value]="model.value" style="border-radius: 5px;">
      </ng-toggle>
    </div>
    <button type="submit" class="btn btn-outline-primary"><i class="fa fa-check" aria-hidden="true"></i> OK</button>
    <button type="button" class="btn btn-outline-danger" (click)="dismiss()"><i class="fa fa-ban"
        aria-hidden="true"></i> Cancel</button>
  </div>
</form>

<!-- https://nth-cloud.github.io/ng-toggle/#/home -->