<div class="modal-header" ngbAutofocus>
  <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ message }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="accept()"> <i class="fa fa-check" aria-hidden="true"></i> {{ btnOkText }}</button>
    <button type="button" class="btn btn-outline-danger" (click)="decline()"><i class="fa fa-ban" aria-hidden="true"></i> {{ btnCancelText }}</button>
  </div> 